@page
@model Users.Identity.Pages.Home.Index

<div class="welcome-page">
    <h1>
        <img src="~/duende-logo.svg" class="logo">
        Welcome to Eshop
        <small class="text-muted">(version @Model.Version)</small>
    </h1>

    <ul>
        <li>
            <a href="~/.well-known/openid-configuration">discovery document</a>
        </li>
        <li>
            Click <a href="~/grants">here</a> to manage your stored grants.
        </li>
    </ul>
</div>
